<!--Esto es la barra de navegacion-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">  
  <div class="container-fluid">  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/proyectos">Proyectos</a> <!--En el href pones las rutas que establecimos en app.module.ts-->
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="quienes">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="contacto">Contacto</a>
        </li>   
        
        <li class="nav-item">
          <!--Router link funciona mucho mas rapido que href-->
          <a class="nav-link active" routerLink="/login" *ngIf="!estaLogueado()">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login" (click)="logout()" *ngIf="estaLogueado()">Salir</a>
        </li>
      </ul>      
    </div>
  </div>
</nav>

<router-outlet> <!--Con esta etiqueta decimos que desde aqui gestionaremos el enrutamiento-->

</router-outlet>





















